.wrapper {
    position: relative;
    background: var(--colors-ContrastDarkest);
    border: 1px dashed var(--colors-ContrastNeutral);
    border-left: none;
    border-right: none;
    padding: var(--spacing-Full);
    margin: 0 calc(var(--spacing-Full) * -1) 10px;
}

.noSelect :not(.move) {
    user-select: none !important;
    pointer-events: none !important;
}

.property {
    margin-top: 10px;
}

.preview.preview {
    height: var(--spacing-GoldenUnit);
    display: block;
    background: none;
    max-width: 100%;
    margin: 0;
    position: relative;
    width: 100%;

    figure {
        height: var(--spacing-GoldenUnit);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    img {
        max-width: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
}

.sortableHelper {
    z-index: 9999;
}

.label.label {
    display: block;
    line-height: var(--spacing-GoldenUnit);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    max-width: none;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: var(--colors-ContrastBrightest);
    font-size: var(--fontSize-Base);
    gap: 10px;

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--spacing-GoldenUnit);
        min-width: var(--spacing-GoldenUnit);
        max-width: var(--spacing-GoldenUnit);
        background-color: var(--colors-ContrastNeutral);
    }

    &:empty {
        display: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.delete {
    cursor: pointer;

    &:hover {
        background-color: var(--colors-Error) !important;
    }
}

.move {
    flex: 1;
    cursor: grab;

    &:hover {
        background-color: var(--colors-ContrastDark);
    }
}

.simpleWrapper {
    display: flex;
    position: relative;
    column-gap: 2px;
    margin-bottom: 10px;

    label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .group {
        flex: 1;
        max-width: 283px;
    }
}

.simpleWrapperTwoButtons .group {
    max-width: 199px;
}

.simpleWrapperOneButton .group {
    max-width: 241px;
}

.simpleButtons {
    display: flex;
    justify-content: flex-end;
    color: var(--colors-ContrastBrightest);
    font-size: var(--fontSize-Base);
    gap: 2px;

    > * {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--spacing-GoldenUnit);
        min-width: var(--spacing-GoldenUnit);
        background-color: var(--colors-ContrastNeutral);
    }

    &:empty {
        display: none;
    }
}
